<div class= "customer">
	<h2><%= customer.full_name%>
		<%= customer.last_name%></h2>
	<p><strong>Phone Number:</strong> <%=customer.phone_number %></p>
	<p><strong>Email:</strong> <%= customer.email_address %></p>
	<p><strong>Province:</strong>
	<% if customer.province.present? %>
		<%= @customer.province.name %>
	<% else %>
		None
	<% end %>
	</p>

	<p><strong>State:</strong>
	<% if customer.state.present? %>
		<%= @customer.state.name %>
	<% else %>
		None
	<% end %>
	</p>
</div>